@use 'variables' as v;

@mixin no-margin {
    margin: 0;
    padding: 0;
}

@mixin button ($bg) {
    display: inline-block;
    margin: 1rem 0;
    color: white;
    background-color: $bg;
    border: none;
    text-decoration: none;
    padding: 1rem 1.4rem;
    border-radius: 10px;

    &:hover {
        border: 1px solid v.$color-bg;
    }
}

@mixin media($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}