//colors
$color-primary: #0C4085;
$color-secondary: #FFCD4C;
$color-warning: rgb(255, 63, 82);
$color-success: #6ecca3;
$color-bg: #efefef;
$color-shadow: #25262c;

//breakpoints
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
$xl: 1200px;