@use 'variables' as v;
@use 'mixins' as m;
@import 'reset';
@import 'fonts';

body {
    font-family: "Open Sans", sans-serif;
    background-color: v.$color-bg;
    padding: 2rem;
}

.logo-wrapper {
    padding: 2rem 0;
    text-align: center;

    .logo {
        width: 20rem;
    }
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem 4rem 4rem;
    background-color: white;
    border-radius: 1rem;
}

header {
    background-color: v.$color-primary;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
    border-radius: 1rem;

    .btn {
        @include m.button(transparent);
    }
}

// TITRES
h2 {
    text-align: center;
}

hr {
    width: 40%;
}

h3 {
    text-transform: uppercase;
}

// INDEX
.mattress {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;

    .catalog-img {
        width: 300px;
    }

    .warning {
        color: v.$color-warning;
        font-size: 2rem;
    }

    .edit {
        color: v.$color-primary;
        font-size: 2rem;
        margin-right: 2rem;
    }
}

// ICONES
i {
    font-size: 1.6rem;
    margin-right: 1rem;
}

// PRIX
.prices {
    .high {
        text-decoration: line-through;
    }

    .low {
        color: v.$color-warning;
        font-size: 2rem;
    }
}

// DELETE
.delete {
    text-align: center;

    a {
        @include m.button(v.$color-primary);
        margin: 2rem;
    }

    .warning {
        @include m.button(v.$color-warning);
    }
}

// FORMULAIRES
.form-group {
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input,
    select {
        width: 50%
    }

    #inputPicture {
        padding-left: 18%
    }
}